<!DOCTYPE html>
<meta charset="utf-8">

<!-- Load d3.js -->
<script src="https://d3js.org/d3.v6.js"></script>
<script src = "/static/js/PieChartScript.js"></script>
<head>
    <style>
        h5{
        margin-top: 5px


        }
    </style>

</head>
<body>
    <p><a href="/">Go Back</a></p>
    <div id= "Legend">
    </div>
    <div id="Pie-Chart-Container"></div>
    <h5 style="text-align: center;">A Pie chart showing the number of negative tweets for each majpr US airline in 2015
    categories  depending <br> on the tweet.  The data used for this bar chart comes from <a href="https://www.kaggle.com/crowdflower/twitter-airline-sentiment">Kaggle - twitter airline sentiment</a></h5>

</body>
</html>