<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sumative 3</title>
    <script src="https://d3js.org/d3.v6.js"></script
</head>
<body>
<div>
    <h1>CSC-40088 - Fundamentals of Computer Science - Summative |||</h1>
    <h1>David Otomewo </h1>
    <br>
    <br>
    <p><h2>Task 1.1 - Another graphical representation - Pie Chart</h2><a href="https://secret-taiga-48851.herokuapp.com/">click here - Pie Chart</a></p>
    <br>
    <p><h2>Task 1.1 - A enhanced version of my bar chart</h2><a href="https://evening-spire-94034.herokuapp.com/">Click here - Multi bar chart<a/></p>
    <br>
    <p><h2>Task 1.2 - A page with Websocket functionality and 2 security features</h2><a href="https://powerful-beyond-09107.herokuapp.com/">Click here - websocket</a></p>

    <div>Task 2.1  

Upon completing summative assignment 2, I took some time to analyse and see where I could make more improvements if I had the time.  Initially I create a bar chart just displaying the number of negative tweets all countries had received.  My initial goal was to tell the give the viewer a good representation of the airline companies that had performed worse according to the tweets.  My biggest takeaway was that it was a one-dimensional representation, I felt it didn’t show the full representation of the subset of data I had chosen. 

The data also includes positive and neutral tweets that were received by travellers.  So I decided to creat a grouped bar chart showing all three values for each airline, this will give the user a clear comparison how all three value correlate with each other, the disparity between the values can give the viewer an immediate Impression. Of course, it is up to the viewer to interpret this information.  I also added a legend to make it easer for the viewer to match the colours with each value.  The color choice was important, red for negative tweets immediately shows that it has the highest numbers across all airlines, only Virgin America less negative tweets than positive tweets, all the other airlines have significantly more negative tweets than positive or neutral. 

I also added a new graphical representation of the data, a pic chart.    I wanted to create a chart that required minimal additional explanation for the viewer, and that can be easily understood due to widespread use in business and the media. (Barcelona Fields study Centre, 2022). 

Pie charts are the quickest way to represent fractional data, companies mostly use Pie charts to represent percentages. 

As a viewer myself, my impression is that the customer service leading to all these negative tweets could be better.  Although this is only a small subset of data, it would be interesting to analyze Big data based on this source. 

 

References  

(Barcelona Fields study Centre, 2022) Available at https://www.scribbr.co.uk/referencing/harvard-website-reference/#:~:text=To%20reference%20a%20website%20in,which%20you%20accessed%20the%20website.&text=Author%20surname%2C%20initial.,Accessed%3A%20Day%20Month%20Year). 
 </div>

 <br>
 
<br>
 
<div>
Task 2.2 

WebSocket's have standardised technology to offer a fully asynchronous connection that has real time bi –direction communication between ser and browser.  The nature of the connection being open for a period of time, means the connection is open for attacks. 

The first issue I noticed after implementing my WebSocket for the chat service, is that a client(user) can send any information through the WebSocket connection.  Therefore, I decided to start by adding some client input validation.  This can prevent attacks like OS, SQL, Blind SQL and many more. (Dabko Kovacic, 2021)  

 

To validate clientside input, I used an if statement to check if the user was a particular person, if the person doesn’t match that name, then nothing will be sent to the server.  Users who have access to the system willo be notified and invited to use, of which they will receive notofocation through secure channels. 

My second security feature was server side validation.  This means messages received on the client side should always be processed as data before being assigned to the DOM(document object model).  I used a try/catch block along with JSON.parse to catch data types that was not a JSON string. 

I also used wss://, which is a much more safer protocol that ws:// which prevents things like man in the middle attacks. (Dabko Kovacic, 2021) 

I attempted to add rate limiting, but due this being my first time using Javascript,  I defintelely need more time to implement this.  It can be extemely imprtant as a security feature as it protects against bad bots, scrapers, clients who hog the connection without knowing or a malfunctioning client atha can lead to a DoS attack.  Therefore limited the time of the client connection can be an adavantage. 

 </div>

 <br>

<div>
Task 1.3 

My biggest challenge was trying to get all three pages into one flask application.  I had numerous errors with integrating the WebSocket application.  I also had issues with linking multiple pages on one flask application, I tried to use url_for after reading the documentation but it still didn’t work.  My aim is to take some time to debug the Erros and put all pages into one application that sits on Heroku.  Fue to time constraints I decided to create multiple flask applications and like them all with one index page, all hosted on Heroku. 

 

References  

 

(Dabko Kovacic, 2021) Available at https://brightsec.com/blog/websocket-security-top-vulnerabilities/#client-input-validation  </div>


</div>

</body>
</html>