<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sumative 3</title>
    <script src="https://d3js.org/d3.v6.js"></script
</head>
<body>
<div>
    <h1>CSC-40088 - Fundamentals of Computer Science - Summative |||</h1>
    <h1>David Otomewo </h1>
    <br>
    <br>
    <p><h2>Task 1.1 - Another graphical representation - Pie Chart</h2><a href="https://secret-taiga-48851.herokuapp.com/">click here - Pie Chart</a></p>
    <br>
    <p><h2>Task 1.1 - A enhanced version of my bar chart</h2><a href="https://evening-spire-94034.herokuapp.com/">Click here - Multi bar chart<a/></p>
    <br>
    <p><h2>Task 1.2 - A page with Websocket functionality and 2 security features</h2><a href="https://powerful-beyond-09107.herokuapp.com/">Click here - websocket</a></p>


</div>

</body>
</html>