<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sumative 3</title>
    <script src="https://d3js.org/d3.v6.js"></script>

</head>
<body>
<div ><center>
    <h2>CSC-40088 - Fundamentals of Computer Science - Summative |||</h2>
    <h2>David Otomewo </h1>
    <h2>The code for this whole project is on Github, can be found here</h1><a href = ""></a></h2>
    <h2>The pages may take a few seconds to load</h2>
    <br>
    <p><h3>Task 1.1 - Another graphical representation - Pie Chart</h3><a href="./pie_Chart">Click here - Pie Chart</a></p>
    <p><h3>Task 1.1 - A enhanced version of my bar chart</h3><a href="./bar_Chart">Click here - Multi bar chart</a></p>
    <p><h3>Task 1.2 - A page with Websocket functionality and 2 security features</h3><a href="./websocket_chat">Click here - websocket</a></p>
    <p><h3>Task 2 - Report - Answers to question 2.1, 2.2 and 2.3.</h3><a href="./report">Click here - Report</a></p>
</center>
    

</body>
</html>